# KPI 1. Rail vs road travel: Prices

## Rail prices

### Historic Tariefeenheden prices
First, we will import the so called "tariefeenheden", these is a standardized unit to measure the distance of a train journey.

⚠️ TODO: explain and code the pdf to csv conversion of the tariefeenheden

In [39]:
import pandas as pd
TariffsPerKm = pd.read_csv("/Users/thijmenspeek/PycharmProjects/uu_dss_project/dashboard/SeparateChartsForTesting/Data/TariefeenhedenTest.csv", delimiter= ";")
TariffsPerKm.head(20)

,Aantal tariefeenheden,Voltarief incl. 9% btw,20% korting incl. 9% btw,2e klas 40% korting incl. 9% btw,vol tarief excl. btw
0,0 t/m 8,"€ 2,60","€ 2,08","€ 1,56","€ 2,39"
1,9,"€ 2,90","€ 2,32","€ 1,74","€ 2,66"
2,10,"€ 3,10","€ 2,48","€ 1,86","€ 2,84"
3,11,"€ 3,30","€ 2,64","€ 1,98","€ 3,03"
4,12,"€ 3,50","€ 2,80","€ 2,10","€ 3,21"
5,13,"€ 3,70","€ 2,96","€ 2,22","€ 3,39"
6,14,"€ 3,90","€ 3,12","€ 2,34","€ 3,58"
7,15,"€ 4,10","€ 3,28","€ 2,46","€ 3,76"
8,16,"€ 4,30","€ 3,44","€ 2,58","€ 3,94"
9,17,"€ 4,50","€ 3,60","€ 2,70","€ 4,13"
10,18,"€ 4,70","€ 3,76","€ 2,82","€ 4,31"
11,19,"€ 4,90","€ 3,92","€ 2,94","€ 4,50"
12,20,"€ 5,10","€ 4,08","€ 3,06","€ 4,68"
13,21,"€ 5,30","€ 4,24","€ 3,18","€ 4,86"
14,22,"€ 5,50","€ 4,40","€ 3,30","€ 5,05"
15,23,"€ 5,70","€ 4,56","€ 3,42","€ 5,23"
16,24,"€ 5,90","€ 4,72","€ 3,54","€ 5,41"
17,25,"€ 6,10","€ 4,88","€ 3,66","€ 5,60"
18,26,"€ 6,30","€ 5,04","€ 3,78","€ 5,78"
19,27,"€ 6,50","€ 5,20","€ 3,90","€ 5,96"

The first row contains the tariefeenheden 0 to 8, which is not ideal for using the data. Therefore, we will convert these into separate rows, of course copying the initial values.

In [40]:
# Make the tariefeenheden "0 to 8" to separate rows

def split_and_expand_row(df):
    # Extract the first row (labeled as "0 to 8")
    first_row = df[df["Aantal tariefeenheden"] == '0 t/m 8'].values[0]

    # Create 8 new rows, each with one value from the "0 to 8" row
    new_rows = pd.DataFrame([first_row] * 9, columns=df.columns)

    # Update the index of new rows to be from 0 to 8
    new_rows["Aantal tariefeenheden"] = range(0, 9)

    # Drop the original "0 to 8" row
    df = df.drop(df[df["Aantal tariefeenheden"] == '0 t/m 8'].index)

    # Concatenate the new rows at the top of the DataFrame
    newFrame = pd.concat([new_rows, df]).reset_index(drop=True)

    return newFrame


TariffsPerKm = split_and_expand_row(TariffsPerKm)
TariffsPerKm.head(20)

,Aantal tariefeenheden,Voltarief incl. 9% btw,20% korting incl. 9% btw,2e klas 40% korting incl. 9% btw,vol tarief excl. btw
0,0,"€ 2,60","€ 2,08","€ 1,56","€ 2,39"
1,1,"€ 2,60","€ 2,08","€ 1,56","€ 2,39"
2,2,"€ 2,60","€ 2,08","€ 1,56","€ 2,39"
3,3,"€ 2,60","€ 2,08","€ 1,56","€ 2,39"
4,4,"€ 2,60","€ 2,08","€ 1,56","€ 2,39"
5,5,"€ 2,60","€ 2,08","€ 1,56","€ 2,39"
6,6,"€ 2,60","€ 2,08","€ 1,56","€ 2,39"
7,7,"€ 2,60","€ 2,08","€ 1,56","€ 2,39"
8,8,"€ 2,60","€ 2,08","€ 1,56","€ 2,39"
9,9,"€ 2,90","€ 2,32","€ 1,74","€ 2,66"
10,10,"€ 3,10","€ 2,48","€ 1,86","€ 2,84"
11,11,"€ 3,30","€ 2,64","€ 1,98","€ 3,03"
12,12,"€ 3,50","€ 2,80","€ 2,10","€ 3,21"
13,13,"€ 3,70","€ 2,96","€ 2,22","€ 3,39"
14,14,"€ 3,90","€ 3,12","€ 2,34","€ 3,58"
15,15,"€ 4,10","€ 3,28","€ 2,46","€ 3,76"
16,16,"€ 4,30","€ 3,44","€ 2,58","€ 3,94"
17,17,"€ 4,50","€ 3,60","€ 2,70","€ 4,13"
18,18,"€ 4,70","€ 3,76","€ 2,82","€ 4,31"
19,19,"€ 4,90","€ 3,92","€ 2,94","€ 4,50"

In [41]:
# Removing the euro signs
TariffsPerKm = TariffsPerKm.replace('€', '', regex=True)
TariffsPerKm.head(100)

,Aantal tariefeenheden,Voltarief incl. 9% btw,20% korting incl. 9% btw,2e klas 40% korting incl. 9% btw,vol tarief excl. btw
0,0,"2,60","2,08","1,56","2,39"
1,1,"2,60","2,08","1,56","2,39"
2,2,"2,60","2,08","1,56","2,39"
3,3,"2,60","2,08","1,56","2,39"
4,4,"2,60","2,08","1,56","2,39"
...,...,...,...,...,...
95,95,"19,30","15,44","1 1,58","17,71"
96,96,"19,40","15,52","11,64","17,80"
97,97,"19,60","15,68","11,76","17,98"
98,98,"19,70","15,76","11,82","18,07"
99,99,"19,90","15,92","11,94","18,26"

### Amount of tariefeenheden per journey

First, we initialize a list of stations for which we would like to retrieve tariefeenheden

In [43]:
Trips = [
{
            "id": "1",
            "name": "Zaandam – Schiphol ",
            "fromStation": "zd",
            "toStation": "shl",
            "color": "#FFC917"
        },
        {
            "id": "2",
            "name": "Hoorn – Zaandam ",
            "fromStation": "hn",
            "toStation": "zd",
            "color": "#FF7700"
        },
        {
            "id": "3",
            "name": "Amsterdam Centraal – Hilversum ",
            "fromStation": "asd",
            "toStation": "hvs",
            "color": "#009A42"
        },
        {
            "id": "4",
            "name": "Tilburg – ’s Hertogenbosch ",
            "fromStation": "tb",
            "toStation": "ht",
            "color": "#FFC917"
        },
        {
            "id": "5",
            "name": "Hilversum – Schiphol ",
            "fromStation": "hvs",
            "toStation": "shl",
            "color": "#0063D3"
        },
        {
            "id": "6",
            "name": "Schiphol – Almere Centrum ",
            "fromStation": "shl",
            "toStation": "alm",
            "color": "#DB0029"
        },
        {
            "id": "7",
            "name": "Amsterdam Centraal – Hoorn ",
            "fromStation": "asd",
            "toStation": "hn",
            "color": "#009A42"
        },
        {
            "id": "8",
            "name": "Utrecht – ’s Hertogenbosch ",
            "fromStation": "ut",
            "toStation": "ht",
            "color": "#FF7700"
        }]

Subsequently, we iterate and retrieve the number of tariefeenheden for each trip

In [44]:
import json
import requests
import pprint # For checking dictionary outputs, might delete later

def getTripTariefeenheden(fromStation, toStation):
    # This function fetches geodata based on a list of interlinked stations

    # Primary Key from NS API
    primary_key = "506c530bc78e42238652c7ffba855a3c"

    # Placeholder for the URL
    url = "https://gateway.apiportal.ns.nl/public-prijsinformatie/prices"

    # Headers as defined in NS API documentation
    headers = {
        "Cache-Control": "no-cache",
        "Ocp-Apim-Subscription-Key": primary_key
    }

    # Parameters as defined in NS API documentation
    params = {
        "fromStation": fromStation,
        "toStation": toStation
    }

    # Send GET request
    try:
        # Returns JSON file with nearest train station(s) of the put in lat/long
        response = requests.get(url, headers=headers, params=params)
        # Parse JSON content
        stations_data = response.json()

    except requests.exceptions.HTTPError as http_err:
        print(f"HTTP error occurred: {http_err}")  # e.g., 404 Not Found

    return stations_data

TariffsPerKm['Aantal tariefeenheden'] = pd.to_numeric(TariffsPerKm['Aantal tariefeenheden'], errors='coerce')
print(TariffsPerKm[TariffsPerKm['Aantal tariefeenheden'] == 21]['Voltarief incl. 9% btw'].values[0])

for trip in Trips:  # Loop through all rows in the list of stations to plot named "Stations"
    TariefEenhedenLength = getTripTariefeenheden(trip['fromStation'], trip['toStation'])['priceOptions'][1]['tariefEenheden']
    Tariff = TariffsPerKm[TariffsPerKm["Aantal tariefeenheden"] == TariefEenhedenLength]["Voltarief incl. 9% btw"].values[0]
    Tariff = Tariff.replace(" ", "")
    trip["tariff"] = float(Tariff.replace(",", ".")) #This shouldnt actually be appended to the distionary as these results fluctuate over time

pp = pprint.PrettyPrinter(depth=4)
pp.pprint(Trips)

 5,30
[{'color': '#FFC917',
  'fromStation': 'zd',
  'id': '1',
  'name': 'Zaandam – Schiphol ',
  'tariff': 5.3,
  'toStation': 'shl'},
 {'color': '#FF7700',
  'fromStation': 'hn',
  'id': '2',
  'name': 'Hoorn – Zaandam ',
  'tariff': 7.7,
  'toStation': 'zd'},
 {'color': '#009A42',
  'fromStation': 'asd',
  'id': '3',
  'name': 'Amsterdam Centraal – Hilversum ',
  'tariff': 6.9,
  'toStation': 'hvs'},
 {'color': '#FFC917',
  'fromStation': 'tb',
  'id': '4',
  'name': 'Tilburg – ’s Hertogenbosch ',
  'tariff': 5.5,
  'toStation': 'ht'},
 {'color': '#0063D3',
  'fromStation': 'hvs',
  'id': '5',
  'name': 'Hilversum – Schiphol ',
  'tariff': 8.8,
  'toStation': 'shl'},
 {'color': '#DB0029',
  'fromStation': 'shl',
  'id': '6',
  'name': 'Schiphol – Almere Centrum ',
  'tariff': 9.0,
  'toStation': 'alm'},
 {'color': '#009A42',
  'fromStation': 'asd',
  'id': '7',
  'name': 'Amsterdam Centraal – Hoorn ',
  'tariff': 9.6,
  'toStation': 'hn'},
 {'color': '#FF7700',
  'fromStation': 'ut',
  'id': '8',
  'name': 'Utrecht – ’s Hertogenbosch ',
  'tariff': 10.6,
  'toStation': 'ht'}]

## Road prices

### Distances
First, get the coordinates of each Station from the NS API and append these to the routes dictionary

In [61]:
import pprint # For checking dictionary outputs, might delete later

# Get coordinates for each stationname
def StationCoordinates(StationName):
    # Primary Key from NS API
    primary_key = "0c97e49d1a0e4a10bb2313d4bb697472"

    # Placeholder for the URL
    url = "https://gateway.apiportal.ns.nl/reisinformatie-api/api/v2/stations"

    # Headers as defined in NS API documentation
    headers = {
        "Cache-Control": "no-cache",
        "Ocp-Apim-Subscription-Key": primary_key
    }

    # Parameters as defined in NS API documentation
    params = {
        "q": StationName
    }

    # Send GET request
    try:
        # Returns JSON file with nearest train station(s) of the put in lat/long
        response = requests.get(url, headers=headers, params=params)
        # Parse JSON content
        FE_data = response.json()

    except requests.exceptions.HTTPError as http_err:
        print(f"HTTP error occurred: {http_err}")  # e.g., 404 Not Found
    
    latitude = str(FE_data['payload'][0]['lat'])
    longitude = str(FE_data['payload'][0]['lng'])
    coordinates = (latitude+","+longitude)

    return coordinates

for trip in Trips:  # Loop through all rows in the list of stations to append the coordinates
    trip["coordinatesFrom"] = StationCoordinates(trip['fromStation'])
    trip["coordinatesTo"] = StationCoordinates(trip['toStation'])
    
pp = pprint.PrettyPrinter(depth=4)
pp.pprint(Trips)

[{'color': '#FFC917',
  'coordinatesFrom': '52.4388885498047,4.81361103057861',
  'coordinatesTo': '52.3094444274902,4.76194429397583',
  'fromStation': 'zd',
  'id': '1',
  'name': 'Zaandam – Schiphol ',
  'tariff': 5.3,
  'toStation': 'shl'},
 {'color': '#FF7700',
  'coordinatesFrom': '52.6447219848633,5.05555534362793',
  'coordinatesTo': '52.4388885498047,4.81361103057861',
  'fromStation': 'hn',
  'id': '2',
  'name': 'Hoorn – Zaandam ',
  'tariff': 7.7,
  'toStation': 'zd'},
 {'color': '#009A42',
  'coordinatesFrom': '52.3788871765137,4.90027761459351',
  'coordinatesTo': '52.2258338928223,5.18194437026978',
  'fromStation': 'asd',
  'id': '3',
  'name': 'Amsterdam Centraal – Hilversum ',
  'tariff': 6.9,
  'toStation': 'hvs'},
 {'color': '#FFC917',
  'coordinatesFrom': '51.5605545043945,5.08361101150513',
  'coordinatesTo': '52.0888900756836,5.11027765274048',
  'fromStation': 'tb',
  'id': '4',
  'name': 'Tilburg – ’s Hertogenbosch ',
  'tariff': 5.5,
  'toStation': 'ht'},
 {'color': '#0063D3',
  'coordinatesFrom': '52.2258338928223,5.18194437026978',
  'coordinatesTo': '52.3094444274902,4.76194429397583',
  'fromStation': 'hvs',
  'id': '5',
  'name': 'Hilversum – Schiphol ',
  'tariff': 8.8,
  'toStation': 'shl'},
 {'color': '#DB0029',
  'coordinatesFrom': '52.3094444274902,4.76194429397583',
  'coordinatesTo': '52.3580551147461,6.65388870239258',
  'fromStation': 'shl',
  'id': '6',
  'name': 'Schiphol – Almere Centrum ',
  'tariff': 9.0,
  'toStation': 'alm'},
 {'color': '#009A42',
  'coordinatesFrom': '52.3788871765137,4.90027761459351',
  'coordinatesTo': '52.6447219848633,5.05555534362793',
  'fromStation': 'asd',
  'id': '7',
  'name': 'Amsterdam Centraal – Hoorn ',
  'tariff': 9.6,
  'toStation': 'hn'},
 {'color': '#FF7700',
  'coordinatesFrom': '52.0888900756836,5.11027765274048',
  'coordinatesTo': '52.0888900756836,5.11027765274048',
  'fromStation': 'ut',
  'id': '8',
  'name': 'Utrecht – ’s Hertogenbosch ',
  'tariff': 10.6,
  'toStation': 'ht'}]

Based on the coordinates for both stations get the route by car and the corresponding distance

In [66]:
# @Henk this install is neede beforehand !pip install googlemaps  # IF NOT ALREADY INSTALLED
import googlemaps

import pprint # For checking dictionary outputs, might delete later

def getMapsDistance(fromCoordinates, toCoordinates):
    GOOGLE_MAPS_API_KEY = "AIzaSyCm9e_CHuHckn1qSAXTTOhS6ApJPeWB_E8"
    gmaps = googlemaps.Client(key=GOOGLE_MAPS_API_KEY)
    
    startpoint = fromCoordinates
    endpoint = toCoordinates
    
    result = gmaps.distance_matrix(origins = (startpoint), destinations = (endpoint), mode='driving')
    
    distresult = result["rows"][0]["elements"][0]["distance"]["value"]/1000   # Convert to KM by /1000
    # timeresult = result["rows"][0]["elements"][0]["duration"]["value"]/60     # Convert to Minutes by /60
    
    return round(distresult,1)

for trip in Trips:  # Loop through all rows in the list of stations to plot named "Stations"
    trip["roadDistance"] = getMapsDistance(trip["coordinatesFrom"], trip["coordinatesTo"])
    
pp = pprint.PrettyPrinter(depth=4)
pp.pprint(Trips)

[{'color': '#FFC917',
  'coordinatesFrom': '52.4388885498047,4.81361103057861',
  'coordinatesTo': '52.3094444274902,4.76194429397583',
  'fromStation': 'zd',
  'id': '1',
  'name': 'Zaandam – Schiphol ',
  'roadDistance': 26.7,
  'tariff': 5.3,
  'toStation': 'shl'},
 {'color': '#FF7700',
  'coordinatesFrom': '52.6447219848633,5.05555534362793',
  'coordinatesTo': '52.4388885498047,4.81361103057861',
  'fromStation': 'hn',
  'id': '2',
  'name': 'Hoorn – Zaandam ',
  'roadDistance': 32.9,
  'tariff': 7.7,
  'toStation': 'zd'},
 {'color': '#009A42',
  'coordinatesFrom': '52.3788871765137,4.90027761459351',
  'coordinatesTo': '52.2258338928223,5.18194437026978',
  'fromStation': 'asd',
  'id': '3',
  'name': 'Amsterdam Centraal – Hilversum ',
  'roadDistance': 40.6,
  'tariff': 6.9,
  'toStation': 'hvs'},
 {'color': '#FFC917',
  'coordinatesFrom': '51.5605545043945,5.08361101150513',
  'coordinatesTo': '52.0888900756836,5.11027765274048',
  'fromStation': 'tb',
  'id': '4',
  'name': 'Tilburg – ’s Hertogenbosch ',
  'roadDistance': 77.7,
  'tariff': 5.5,
  'toStation': 'ht'},
 {'color': '#0063D3',
  'coordinatesFrom': '52.2258338928223,5.18194437026978',
  'coordinatesTo': '52.3094444274902,4.76194429397583',
  'fromStation': 'hvs',
  'id': '5',
  'name': 'Hilversum – Schiphol ',
  'roadDistance': 47.1,
  'tariff': 8.8,
  'toStation': 'shl'},
 {'color': '#DB0029',
  'coordinatesFrom': '52.3094444274902,4.76194429397583',
  'coordinatesTo': '52.3580551147461,6.65388870239258',
  'fromStation': 'shl',
  'id': '6',
  'name': 'Schiphol – Almere Centrum ',
  'roadDistance': 165.7,
  'tariff': 9.0,
  'toStation': 'alm'},
 {'color': '#009A42',
  'coordinatesFrom': '52.3788871765137,4.90027761459351',
  'coordinatesTo': '52.6447219848633,5.05555534362793',
  'fromStation': 'asd',
  'id': '7',
  'name': 'Amsterdam Centraal – Hoorn ',
  'roadDistance': 44.0,
  'tariff': 9.6,
  'toStation': 'hn'},
 {'color': '#FF7700',
  'coordinatesFrom': '52.0888900756836,5.11027765274048',
  'coordinatesTo': '52.0888900756836,5.11027765274048',
  'fromStation': 'ut',
  'id': '8',
  'name': 'Utrecht – ’s Hertogenbosch ',
  'roadDistance': 0.0,
  'tariff': 10.6,
  'toStation': 'ht'}]

### Fuel usage

In [27]:
# pip install sodapy

import pandas as pd
import numpy as np
from sodapy import Socrata

client = Socrata("opendata.rdw.nl", None)

results = client.get("8ys7-d773", where="brandstofverbruik_gecombineerd IS NOT NULL", order="brandstofverbruik_gecombineerd", limit=1000)


# Convert to pandas DataFrame
results_df = pd.DataFrame.from_records(results)

# Convert fuel usage column values from string to float
results_df['brandstofverbruik_gecombineerd'] = results_df['brandstofverbruik_gecombineerd'].astype(float)
#
results_df = results_df[results_df["brandstofverbruik_gecombineerd"] > 0.0].reset_index(drop=True)

results_df.head(200)

WARNING:root:Requests made without an app_token will be subject to strict throttling limits.

,kenteken,brandstof_volgnummer,brandstof_omschrijving,brandstofverbruik_gecombineerd,emissiecode_omschrijving,nettomaximumvermogen,brandstofverbruik_buiten,brandstofverbruik_stad,geluidsniveau_stationair,toerental_geluidsniveau,...,co2_uitstoot_gewogen,klasse_hybride_elektrisch_voertuig,nominaal_continu_maximumvermogen,milieuklasse_eg_goedkeuring_licht,milieuklasse_eg_goedkeuring_zwaar,emissie_co2_gecombineerd_wltp,brandstof_verbruik_gecombineerd_wltp,emis_deeltjes_type1_wltp,uitstoot_deeltjes_licht,roetuitstoot
0,VXP15F,1,Benzine,0.10,6,62.00,NaN,NaN,76,3750,...,NaN,NaN,NaN,715/2007*2015/45X,NaN,NaN,NaN,NaN,NaN,NaN
1,N481PD,1,Benzine,0.20,6,135.00,NaN,NaN,73,3750,...,NaN,NOVC-HEV,NaN,715/2007*2018/1832DG,NaN,168,7.400,0.36,NaN,NaN
2,VGK26J,1,Diesel,0.20,6,132.00,7.60,9.40,84,2625,...,NaN,NaN,NaN,NaN,595/2009*627/2014C,NaN,NaN,NaN,NaN,0.52
3,VGK91P,1,Diesel,0.20,6,132.00,7.60,9.40,84,2625,...,NaN,NaN,NaN,NaN,595/2009*627/2014C,NaN,NaN,NaN,NaN,0.52
4,VGL42P,1,Diesel,0.20,6,132.00,7.60,9.40,84,2625,...,NaN,NaN,NaN,NaN,595/2009*627/2014C,NaN,NaN,NaN,NaN,0.52
5,VGX16T,1,Diesel,0.20,6,132.00,7.60,9.40,84,2625,...,NaN,NaN,NaN,NaN,595/2009*627/2014C,NaN,NaN,NaN,NaN,0.52
6,VGX97S,1,Diesel,0.20,6,132.00,7.60,9.40,84,2625,...,NaN,NaN,NaN,NaN,595/2009*627/2014C,NaN,NaN,NaN,NaN,0.52
7,H288LK,1,Benzine,0.30,6,287.00,NaN,NaN,89,3750,...,NaN,NaN,NaN,715/2007*2017/1347AG,NaN,228,10.000,0.31,NaN,NaN
8,J139HH,1,Benzine,0.30,6,107.00,NaN,NaN,58,1200,...,NaN,NOVC-HEV,NaN,715/2007*2017/1347AG,NaN,156,6.900,0.62,NaN,NaN
9,L266TT,1,Benzine,0.30,6,114.00,NaN,NaN,76,2500,...,NaN,NOVC-HEV,NaN,715/2007*2017/1347AD,NaN,142,6.300,NaN,NaN,NaN
10,Z447BG,1,Benzine,0.30,6,81.00,NaN,NaN,71,3375,...,NaN,NaN,NaN,715/2007*2018/1832AP,NaN,120,5.300,NaN,NaN,NaN
11,H196TF,1,Benzine,0.40,6,66.00,NaN,NaN,80,3750,...,NaN,NaN,NaN,715/2007*2017/1347AD,NaN,139,6.200,NaN,NaN,NaN
12,K369FR,1,Benzine,0.50,6,74.00,NaN,NaN,75,3750,...,NaN,NaN,NaN,715/2007*2018/1832DG,NaN,127,5.600,NaN,NaN,NaN
13,L904LG,1,Benzine,0.50,6,110.00,NaN,NaN,73,3750,...,NaN,NaN,NaN,715/2007*2018/1832DG,NaN,160,7.000,0.00,NaN,NaN
14,RT106B,1,Benzine,0.50,6,96.00,4.90,6.40,75,3750,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,S798XG,1,Benzine,0.50,6,100.00,NaN,NaN,74,3750,...,NaN,NaN,NaN,715/2007*2017/1347AG,NaN,145,6.400,0.34,NaN,NaN
16,T830DN,1,Benzine,0.50,6,107.00,NaN,NaN,58,1200,...,NaN,NOVC-HEV,NaN,715/2007*2018/1832DG,NaN,168,7.400,NaN,NaN,NaN
17,P763BZ,1,Benzine,0.54,6,110.00,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,203,8.540,NaN,NaN,NaN
18,H550GH,1,Benzine,0.60,6,70.00,NaN,NaN,71,3750,...,NaN,NaN,NaN,715/2007*2017/1347AG,NaN,121,5.400,0.03,NaN,NaN

### Fuel prices
Retrieve the CBS fuel prices for each year

In [83]:
import requests
import pandas as pd

# API URL
url = "https://opendata.cbs.nl/ODataApi/OData/84991NED/TypedDataSet"

try:
    # Fetch data from the API
    response = requests.get(url)
    response.raise_for_status()  # Raises an error if the request failed
    
    # Parse the response JSON data
    data = response.json()
    
    # The data we want is inside the "value" key
    records = data.get("value", [])
    
    # Convert data to a pandas DataFrame for easier manipulation
    df = pd.DataFrame(records)
    
except requests.exceptions.RequestException as e:
    print("Error retrieving data:", e)

# The "Perioden" column is in a string format of year+quarter with year spanning the first 4 digits, let's separate year
df['Perioden'] = df['Perioden'].str[:4]

# This results in each year consisting of 4 quarters (rows), let's combine these years by storing the average values per year
df = df.groupby('Perioden').mean().reset_index()
print(df)

    ID Perioden  BenzineEuro95_1  Diesel_2  Lpg_3  Cng_4  Elektrisch_5
0    0     2020            1.643     1.347  0.657  1.185         0.292
1    1     2020            1.496     1.207  0.554  1.168         0.292
2    2     2020            1.563     1.198  0.587  1.179         0.292
3    3     2020            1.545     1.197  0.622  1.191         0.294
4    4     2021            1.674     1.345  0.706  1.214         0.287
5    5     2021            1.771     1.412  0.738  1.248         0.285
6    6     2021            1.840     1.470  0.767  1.415         0.284
7    7     2021            1.971     1.616  0.918  1.745         0.296
8    8     2022            2.109     1.843  0.973  1.806         0.331
9    9     2022            2.209     2.046  1.063  1.988         0.359
10  10     2022            2.080     2.014  0.863  2.347         0.368
11  11     2022            1.889     1.917  0.818  2.336         0.467
12  12     2023            1.819     1.702  0.822  1.963         0.590
13  13     2023            1.827     1.536  0.770  1.660         0.524
14  14     2023            2.063     1.799  0.747  1.675         0.494
15  15     2023            1.974     1.811  0.801  1.752         0.473
16  16     2024            1.964     1.780  0.823  1.779         0.457
17  17     2024            2.035     1.746  0.779  1.775         0.449
  Perioden    ID  BenzineEuro95_1  Diesel_2    Lpg_3    Cng_4  Elektrisch_5
0     2020   1.5          1.56175   1.23725  0.60500  1.18075       0.29250
1     2021   5.5          1.81400   1.46075  0.78225  1.40550       0.28800
2     2022   9.5          2.07175   1.95500  0.92925  2.11925       0.38125
3     2023  13.5          1.92075   1.71200  0.78500  1.76250       0.52025
4     2024  16.5          1.99950   1.76300  0.80100  1.77700       0.45300