# KPI 1. Rail vs road travel: Prices

## Rail prices

### Historic Tariefeenheden prices
First, we will import the so called "tariefeenheden", these is a standardized unit to measure the distance of a train journey.

⚠️ TODO: explain and code the pdf to csv conversion of the tariefeenheden

In [171]:
import pandas as pd
TariffsPerKm = pd.read_csv("/Users/thijmenspeek/PycharmProjects/uu_dss_project/dashboard/SeparateChartsForTesting/Data/TariefeenhedenTest.csv", delimiter= ";")
TariffsPerKm.head(20)

,Aantal tariefeenheden,Voltarief incl. 9% btw,20% korting incl. 9% btw,2e klas 40% korting incl. 9% btw,vol tarief excl. btw
0,0 t/m 8,"€ 2,60","€ 2,08","€ 1,56","€ 2,39"
1,9,"€ 2,90","€ 2,32","€ 1,74","€ 2,66"
2,10,"€ 3,10","€ 2,48","€ 1,86","€ 2,84"
3,11,"€ 3,30","€ 2,64","€ 1,98","€ 3,03"
4,12,"€ 3,50","€ 2,80","€ 2,10","€ 3,21"
5,13,"€ 3,70","€ 2,96","€ 2,22","€ 3,39"
6,14,"€ 3,90","€ 3,12","€ 2,34","€ 3,58"
7,15,"€ 4,10","€ 3,28","€ 2,46","€ 3,76"
8,16,"€ 4,30","€ 3,44","€ 2,58","€ 3,94"
9,17,"€ 4,50","€ 3,60","€ 2,70","€ 4,13"
10,18,"€ 4,70","€ 3,76","€ 2,82","€ 4,31"
11,19,"€ 4,90","€ 3,92","€ 2,94","€ 4,50"
12,20,"€ 5,10","€ 4,08","€ 3,06","€ 4,68"
13,21,"€ 5,30","€ 4,24","€ 3,18","€ 4,86"
14,22,"€ 5,50","€ 4,40","€ 3,30","€ 5,05"
15,23,"€ 5,70","€ 4,56","€ 3,42","€ 5,23"
16,24,"€ 5,90","€ 4,72","€ 3,54","€ 5,41"
17,25,"€ 6,10","€ 4,88","€ 3,66","€ 5,60"
18,26,"€ 6,30","€ 5,04","€ 3,78","€ 5,78"
19,27,"€ 6,50","€ 5,20","€ 3,90","€ 5,96"

The first row contains the tariefeenheden 0 to 8, which is not ideal for using the data. Therefore, we will convert these into separate rows, of course copying the initial values.

In [172]:
# Make the tariefeenheden "0 to 8" to separate rows

def split_and_expand_row(df):
    # Extract the first row (labeled as "0 to 8")
    first_row = df[df["Aantal tariefeenheden"] == '0 t/m 8'].values[0]

    # Create 8 new rows, each with one value from the "0 to 8" row
    new_rows = pd.DataFrame([first_row] * 9, columns=df.columns)

    # Update the index of new rows to be from 0 to 8
    new_rows["Aantal tariefeenheden"] = range(0, 9)

    # Drop the original "0 to 8" row
    df = df.drop(df[df["Aantal tariefeenheden"] == '0 t/m 8'].index)

    # Concatenate the new rows at the top of the DataFrame
    newFrame = pd.concat([new_rows, df]).reset_index(drop=True)

    return newFrame


TariffsPerKm = split_and_expand_row(TariffsPerKmCopy)
TariffsPerKm.head(20)

,Aantal tariefeenheden,Voltarief incl. 9% btw,20% korting incl. 9% btw,2e klas 40% korting incl. 9% btw,vol tarief excl. btw
0,0,"€ 2,60","€ 2,08","€ 1,56","€ 2,39"
1,1,"€ 2,60","€ 2,08","€ 1,56","€ 2,39"
2,2,"€ 2,60","€ 2,08","€ 1,56","€ 2,39"
3,3,"€ 2,60","€ 2,08","€ 1,56","€ 2,39"
4,4,"€ 2,60","€ 2,08","€ 1,56","€ 2,39"
5,5,"€ 2,60","€ 2,08","€ 1,56","€ 2,39"
6,6,"€ 2,60","€ 2,08","€ 1,56","€ 2,39"
7,7,"€ 2,60","€ 2,08","€ 1,56","€ 2,39"
8,8,"€ 2,60","€ 2,08","€ 1,56","€ 2,39"
9,9,"€ 2,90","€ 2,32","€ 1,74","€ 2,66"
10,10,"€ 3,10","€ 2,48","€ 1,86","€ 2,84"
11,11,"€ 3,30","€ 2,64","€ 1,98","€ 3,03"
12,12,"€ 3,50","€ 2,80","€ 2,10","€ 3,21"
13,13,"€ 3,70","€ 2,96","€ 2,22","€ 3,39"
14,14,"€ 3,90","€ 3,12","€ 2,34","€ 3,58"
15,15,"€ 4,10","€ 3,28","€ 2,46","€ 3,76"
16,16,"€ 4,30","€ 3,44","€ 2,58","€ 3,94"
17,17,"€ 4,50","€ 3,60","€ 2,70","€ 4,13"
18,18,"€ 4,70","€ 3,76","€ 2,82","€ 4,31"
19,19,"€ 4,90","€ 3,92","€ 2,94","€ 4,50"

In [173]:
# Removing the euro signs
TariffsPerKm = TariffsPerKm.replace('€', '', regex=True)
TariffsPerKm.head(100)

,Aantal tariefeenheden,Voltarief incl. 9% btw,20% korting incl. 9% btw,2e klas 40% korting incl. 9% btw,vol tarief excl. btw
0,0,"2,60","2,08","1,56","2,39"
1,1,"2,60","2,08","1,56","2,39"
2,2,"2,60","2,08","1,56","2,39"
3,3,"2,60","2,08","1,56","2,39"
4,4,"2,60","2,08","1,56","2,39"
...,...,...,...,...,...
95,95,"19,30","15,44","1 1,58","17,71"
96,96,"19,40","15,52","11,64","17,80"
97,97,"19,60","15,68","11,76","17,98"
98,98,"19,70","15,76","11,82","18,07"
99,99,"19,90","15,92","11,94","18,26"

### Amount of tariefeenheden per journey

First, we initialize a list of stations for which we would like to retrieve tariefeenheden

In [174]:
Trips = [
{
            "id": "1",
            "name": "Zaandam – Schiphol ",
            "fromStation": "zd",
            "toStation": "shl",
            "color": "#FFC917"
        },
        {
            "id": "2",
            "name": "Hoorn – Zaandam ",
            "fromStation": "hn",
            "toStation": "zd",
            "color": "#FF7700"
        },
        {
            "id": "3",
            "name": "Amsterdam Centraal – Hilversum ",
            "fromStation": "asd",
            "toStation": "hvs",
            "color": "#009A42"
        },
        {
            "id": "4",
            "name": "Tilburg – ’s Hertogenbosch ",
            "fromStation": "tb",
            "toStation": "ht",
            "color": "#FFC917"
        },
        {
            "id": "5",
            "name": "Hilversum – Schiphol ",
            "fromStation": "hvs",
            "toStation": "shl",
            "color": "#0063D3"
        },
        {
            "id": "6",
            "name": "Schiphol – Almere Centrum ",
            "fromStation": "shl",
            "toStation": "alm",
            "color": "#DB0029"
        },
        {
            "id": "7",
            "name": "Amsterdam Centraal – Hoorn ",
            "fromStation": "asd",
            "toStation": "hn",
            "color": "#009A42"
        },
        {
            "id": "8",
            "name": "Utrecht – ’s Hertogenbosch ",
            "fromStation": "ut",
            "toStation": "ht",
            "color": "#FF7700"
        }]

Subsequently, we iterate and retrieve the number of tariefeenheden for each trip

In [175]:
import json
import requests
import pprint # For checking dictionary outputs, might delete later

def getTripTariefeenheden(fromStation, toStation):
    # This function fetches geodata based on a list of interlinked stations

    # Primary Key from NS API
    primary_key = "506c530bc78e42238652c7ffba855a3c"

    # Placeholder for the URL
    url = "https://gateway.apiportal.ns.nl/public-prijsinformatie/prices"

    # Headers as defined in NS API documentation
    headers = {
        "Cache-Control": "no-cache",
        "Ocp-Apim-Subscription-Key": primary_key
    }

    # Parameters as defined in NS API documentation
    params = {
        "fromStation": fromStation,
        "toStation": toStation
    }

    # Send GET request
    try:
        # Returns JSON file with nearest train station(s) of the put in lat/long
        response = requests.get(url, headers=headers, params=params)
        # Parse JSON content
        stations_data = response.json()

    except requests.exceptions.HTTPError as http_err:
        print(f"HTTP error occurred: {http_err}")  # e.g., 404 Not Found

    return stations_data

TariffsPerKm['Aantal tariefeenheden'] = pd.to_numeric(TariffsPerKm['Aantal tariefeenheden'], errors='coerce')
print(TariffsPerKm[TariffsPerKm['Aantal tariefeenheden'] == 21])

count = 0
for trip in Trips:  # Loop through all rows in the list of stations to plot named "Stations"
    TariefEenhedenLength = getTripTariefeenheden(trip['fromStation'], trip['toStation'])['priceOptions'][1]['tariefEenheden']
    # Tariff = TariffsPerKm[TariffsPerKm["Aantal tariefeenheden"]== TariefEenhedenLength]["Voltarief incl. 9% btw"] + "X" + TariefEenhedenLength
    # Trips[count]["Tariff"] = Tariff
    # count += 1.

# pp = pprint.PrettyPrinter(depth=4)
# pp.pprint(Trips)

    Aantal tariefeenheden Voltarief incl. 9% btw 20% korting incl. 9% btw  \
21                     21                   5,30                     4,24

   2e klas 40% korting incl. 9% btw vol tarief excl. btw
21                             3,18                 4,86

## Road prices